{% extends "layout-split-2.html" %}


{% block title %} Mother's Follow-up {% endblock %}



{% block stylesheets %}
{{ block.super }}

{% endblock %}

{% block javascripts %}
{{ block.super }}
{% endblock %}



{% block left %}

<div class="module">

	<div>
		<h3> Current Period Summary </h3>
		
		<a href="/mothers"><strong>{{ total_mothers }}</strong> Mothers </a> registered.<br/>
		<a href="/centers"><strong>{{ total_centers }}</strong> Health Centers </a> registered<br/>
		
		<a href="/health_profs"><strong>{{ total_hps }}</strong> Health professional{{ total_hps|pluralize }}</a> registered<br/>


		</p>
		
	</div>	


</div>

<h1> Mother's follow up </h1>

<h2> Registers Mothers </h2>
{% for mother in mothers %}
	{{mother}} <br>
{% endfor %}

<h2> Registers Health centers </h2>
{% for health_center in health_centers %}
	{{health_center}} <br>
{% endfor %}

<h2> Registers Health professionals </h2>
{% for health_professional  in health_professionals %}
	{{health_professional}} <br>
{% endfor %}


{% endblock %} 
