{% extends "layout_local.html" %}

{% load region_tags %}
{% load tabs_tags %}
{% load i18n %}


{% block subtitle %} Mother's Detail Information {% endblock %}


{% block stylesheets %}
{{ block.super }}

<link type="text/css" rel="stylesheet" href="/static/followup/datatables/media/css/datatable.css" />
<link type="text/css" rel="stylesheet" href="/static/followup/datatables/extras/TableTools/media/css/TableTools.css" />
<style type="text/css">
#details {
    margin-top:15px;
    margin-left:5px;
    margin-right:5px;
}
#details td, #details th {
    font-size:16px;
    border:0;
}
#details th {
    font-weight:bold;
}
</style>
{% endblock stylesheets %}

{% block javascripts %}
{{ block.super }}
<script type="text/javascript" language="javascript" src="/static/followup/datatables/media/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="/static/followup/datatables/extras/TableTools/media/ZeroClipboard/ZeroClipboard.js"></script>
    <script type="text/javascript" language="javascript" src="/static/followup/datatables/extras/TableTools/media/js/TableTools.js"></script>
    <script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    {% for report in reports %}
	    $('#{{report.name}}').dataTable({
                    "bFilter": false,
                    "iDisplayLength": 10,
                    "aaSorting": [[1,'desc']],
                    "aoColumns": [
                        { "bVisible": false, "bSearchable": false },
                        { "iDataSort": 0, "asSorting": [ "desc", "asc" ] },
                        {{report.js|safe}}
                    ]
                });
    {% endfor %}
    } );
</script>
{% endblock javascripts %}


{% block  content%}
<h2>{{ health_unit }}</h2>

<div class="module" style="width:455px;float:left;margin-right:10px"><h3>Details</h3>

        <table id="details">
            <tr><th>Name:</th><td>{{ mother.name }} {{ mother.father_name }} {{ mother.grandfather_name }} </td></tr>
            <tr><th>Woreda:</th><td colspan="3">{{ mother.location }} </td></tr>
            <tr><th>Sub-City:</th><td>{{ mother.location.parent.name }}</td></tr>
            <tr><th>Phone Number:</th><td>{{ mother.phone_number }}</td></tr>
        </table>
</div>

<!--
<div class="module" style="width:455px;float:left;"><h3>Reporters</h3>
<table width="100%">
<thead>
	<tr>
            <th>Name</th>
            <th>Phone</th>
    <tr>
</thead>
    <tbody>
        {% for row in reporters %}
            <tr>
                <td>{{row.name}}</td> 
                <td> {{row.phone}} {% if row.is_active %} (Active) {%endif%} </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
-->

<div style="clear:both;"></div>
<div class="module" style="width:922px;"><h3>Mother's History</h3>
<table width="100%"> 
    <thead><tr>
        {% for column in history_table.columns %}
            <th>
            {% if column.sortable %}

            <a href="?sort={{ column.name_toggled }}">
            
            {% endif %}
            {{ column }}
            {% if column.sortable %}</a>{% endif %}
            </th>
        {% endfor %}
    <tr></thead>
    <tbody>
    
    
        {% for row in history_rows.object_list %}
            <tr>
            			
		<td>{{row.total_pregnancy }}</td>
		<td>{{row.total_delivery }}</td>
		<td>{{row.total_live_birth }}</td>
		<td>{{row.total_live_children }}</td>


			    
            </tr>
        {% endfor %}
    </tbody>
    </tfoot>
    	<tr>
    		<td colspan="5" style="text-align:right;">
    			<span class="step-links">
						{% if history_rows.has_previous %}
							<a href="?page={{ history_rows.previous_page_number }}"> previous </a>
						{% else %}
							previous
						{% endif %}
						
						<span class="current">
						Page {{ history_rows.number }} of {{ history_rows.paginator.num_pages }}
						</span>
						
						{% if history_rows.has_next %}
            						<a href="?page={{ history_rows.next_page_number }}">next</a>
            					{% else %}
            						next
       						{% endif %}
       			</span>


		</td>
    	</tr>
    </tfoot>
    

</table>



<div style="clear:both;"></div>
<div class="module" style="width:922px;"><h3>Mother' Status</h3>
<table width="100%"> 
    <thead><tr>
        {% for column in status_table.columns %}
            <th>
            {% if column.sortable %}

            <a href="?sort={{ column.name_toggled }}">
            
            {% endif %}
            {{ column }}
            {% if column.sortable %}</a>{% endif %}
            </th>
        {% endfor %}
    <tr></thead>
    <tbody>
    
    
        {% for row in status_rows.object_list %}
            <tr>
            			
		<td>{{row.hiv_status }}</td>
		<td>{{row.blood_pressure }}</td>
		<td>{{row.weight }}</td>
		<!-- <td>{{row.height }}</td> -->
		<td>{{row.other_health_cases }}</td>
		<td>{{row.date_visited }}</td>

			    
            </tr>
        {% endfor %}
    </tbody>
    </tfoot>
    	<tr>
    		<td colspan="5" style="text-align:right;">
    			<span class="step-links">
						{% if status_rows.has_previous %}
							<a href="?page={{ status_rows.previous_page_number }}"> previous </a>
						{% else %}
							previous
						{% endif %}
						
						<span class="current">
						Page {{ status_rows.number }} of {{ status_rows.paginator.num_pages }}
						</span>
						
						{% if status_rows.has_next %}
            						<a href="?page={{ status_rows.next_page_number }}">next</a>
            					{% else %}
            						next
       						{% endif %}
       			</span>


		</td>
    	</tr>
    </tfoot>
    

</table>

{% endblock %}
